[*]
end_of_line = crlf

[*.xml]
indent_style = space

[*.cs]

dotnet_naming_rule.pascal_case_for_public_fields.severity = suggestion
dotnet_naming_rule.pascal_case_for_public_fields.symbols  = public_fields
dotnet_naming_rule.pascal_case_for_public_fields.style    = pascal_case_style
dotnet_naming_symbols.public_fields.applicable_kinds               = field
dotnet_naming_symbols.public_fields.applicable_accessibilities     = public

dotnet_naming_rule.camel_case_for_private_internal_fields.severity = suggestion
dotnet_naming_rule.camel_case_for_private_internal_fields.symbols  = private_internal_fields
dotnet_naming_rule.camel_case_for_private_internal_fields.style    = camel_case_underscore_style

dotnet_naming_symbols.private_internal_fields.applicable_kinds = field
dotnet_naming_symbols.private_internal_fields.applicable_accessibilities = private, internal

dotnet_naming_style.camel_case_underscore_style.required_prefix = _
dotnet_naming_style.camel_case_underscore_style.capitalization = camel_case
dotnet_naming_style.pascal_case_style.capitalization = pascal_case